#common 
*.swp
*.DS_Store
*.class
*.lock
*.log
*.pyc
.atom/
.buildlog/
.history
.svn/

#Intellij related
*.iml
*.iml
*.ipr
*.iws
.idea/

#vscode
*.vscode/**

#flutter
build
*.packages
*.flutter-plugins
.dart_tool/
.flutter-plugins
.pub-cache/
.pub/
**/.metadata


# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Runner.xcworkspace/xcuserdata/**
**/Pods/**
**/ios/.symlinks/**
**/ios/Flutter/Flutter.framework/**
**/ios/Flutter/App.framework/**
**/ios/Flutter/flutter_assets/**
**/xcuserdata/**

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/**
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
*.idea
**/.classpath
**/LiveAndroidSDK/.project
**/LiveAndroidSDK/.settings/**
